---
layout: default
title: Videos
weight: 5
permalink: /videos/
---
<h1>Videos</h1>
<p align="center">Short films and videos I am part of.</p>
<div = class="row">
    {% include elements/video.html yt-id="9KvAmZfQuHU" date="02 Mar 2018" %}
    {% include elements/video.html yt-id="qkrg7D9nNvI" date="30 Dec 2017" %}
    {% include elements/video.html yt-id="j5d-qfX5OPw" date="20 Dec 2017" %}
    {% include elements/video.html yt-id="FAUVtGkH8vE" date="08 Jul 2017" %}
</div>

<!--Add my friends youtube channels with links-->
<h2 align="center">Our YouTube Channels</h2>
<br>
<script src="https://apis.google.com/js/platform.js"></script>
<div class="g-ytsubscribe" data-channelid="UCJhMTQilHIWgVTcOCtCHmGQ" data-layout="full" data-theme="default" data-count="default"></div> <!--surya-->
<div class="g-ytsubscribe" data-channelid="UChm4rLE5VZQWjYOR8mfbhGg" data-layout="full" data-theme="default" data-count="default"></div> <!--srikanth-->
<div class="g-ytsubscribe" data-channelid="UCNB0OTB-usYpD6dcroZcuLw" data-layout="full" data-theme="default" data-count="default"></div> <!--sai surya-->
<div class="g-ytsubscribe" data-channelid="UCbiV_d9DKknU6wpTh_1DNPg" data-layout="full" data-theme="default" data-count="default"></div> <!--aashay-->
<div class="g-ytsubscribe" data-channelid="UCru_YH_Mt0zfA2dIW-Pt6Cg" data-layout="full" data-theme="default" data-count="default"></div> <!--abhi ram-->
<div class="g-ytsubscribe" data-channelid="UCBsuI9CPGUcHqbVK8lBhZmg" data-layout="full" data-theme="default" data-count="default"></div> <!--anything-->
<div class="g-ytsubscribe" data-channelid="UCu8iODzx9-F7dPKDbvF0D2w" data-layout="full" data-theme="default" data-count="default"></div> <!--harsha-->
<div class="g-ytsubscribe" data-channelid="UCX7alDglXMg2SxPAAmIF7Ig" data-layout="full" data-theme="default" data-count="default"></div> <!--micro-->
<div class="g-ytsubscribe" data-channelid="UCfV3BZQOkcTE8Saxh4RXbqw" data-layout="full" data-theme="default" data-count="default"></div> <!--naveen thota-->
<div class="g-ytsubscribe" data-channelid="UCbCCCsLS0A9IOej4czz0cfw" data-layout="full" data-theme="default" data-count="default"></div> <!--warrior bros. 365-->
<div class="g-ytsubscribe" data-channelid="UC_dzE_2iJDJhsM6AtN2Gs4A" data-layout="full" data-theme="default" data-count="default"></div> <!--saketha-->
<div class="g-ytsubscribe" data-channelid="UCIDHwexSPObJDUUZ6xl7mdQ" data-layout="full" data-theme="default" data-count="default"></div> <!--uttara-->
<div class="g-ytsubscribe" data-channelid="UCzP5zHJn_IfA19EEROKmweA" data-layout="full" data-theme="default" data-count="default"></div> <!--venkat-->
<div class="g-ytsubscribe" data-channelid="UC5CDNLe1sEbdTSS5OTz-V1A" data-layout="full" data-theme="default" data-count="default"></div> <!--c2c-->
<div class="g-ytsubscribe" data-channelid="UC2xlCqPVFh5MHykfo9rUyoQ" data-layout="full" data-theme="default" data-count="default"></div> <!--naveen-->